[submodule "pose_estimators/zs6d_sasha"]
	path = pose_estimators/zs6d_sasha
	url = git@github.com:v4r-tuwien/zs6d_sasha.git
[submodule "pose_estimators/gdrnpp_sasha"]
	path = pose_estimators/gdrnpp_sasha
	url = git@github.com:v4r-tuwien/gdrnpp_sasha.git
[submodule "object_detectors/yolov8_sasha"]
	path = object_detectors/yolov8_sasha
	url = git@github.com:v4r-tuwien/yolov8_sasha.git
[submodule "object_detectors/cnos_sasha"]
	path = object_detectors/cnos_sasha
	url = git@github.com:haberger/cnos_ros_wrapper.git
[submodule "object_detectors/grounded_sam2_ros"]
	path = object_detectors/grounded_sam2_ros
	url = git@github.com:v4r-tuwien/grounded_sam2_ros.git
[submodule "grasp_estimator/hsr_contact_graspnet"]
	path = grasp_estimator/hsr_contact_graspnet
	url = git@github.com:v4r-tuwien/hsr_contact_graspnet.git
